@model WeatherForeCastApp.Models.SearchByCity
@{
    ViewData["Title"] = "SearchByCity";
}

<html>
    <head>
       <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
       <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        </head>
        <body>
    <form method="post">
  <div class="wrapper">
    
      <header><i class='bx bx-left-arrow-alt'></i>Weather App</header>
      <section class="input-part">
        <p class="info-txt"></p>
        <div class="content">
          <input asp-for="CityName" type="text" spellcheck="false" placeholder="Enter city name"/>
          <br />
             <span asp-validation-for="CityName" class="text-danger"></span>
             <br/>
           <button asp-controller="WeatherForecast" asp-action="SearchByCity" class="btn btn-primary">Search</button>

          <div class="separator"></div>
             <button asp-controller="WeatherForeCast" asp-action="Position" type="button" class="btn btn-default" onclick="getLocation()">Get Device Location</button>
        </div>
        </div>
      </section>
  
   </div>
     </form>
   
<script type="text/javascript">
	function getLocation() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(useLocation);
		}
	};

	function useLocation(position) {
            window.location.replace('/WeatherForeCast/Position?latitude=' + position.coords.latitude + '&longitude=' + position.coords.longitude);
       // console.log("*****************************************");
       // console.log(position);
        //CallService(position.coords.longitude,position.coords.latitude)

	};
 /*  function CallService(longitude,latitude) {
        var jsonObject = {
                "longitude" : longitude,
                "latitude":latitude
                
            };
    $.ajax({
        url: '@Url.Action("Position", "WeatherForeCast")',
        type: 'POST',
        dataType: 'json',
        cache: false,
       data: JSON.stringify(jsonObject),
        
        error: function () {
            alert('Error occured');
        }
    });

        
 */
</script>
</body>
   </html>